{% extends "coreWebPage/base.html" %}
{% load static %}
{% block content %}
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Confecciones Mayra</h1>
        <div class="row center">
          <h5 class="header col s12 light">
              Aprovecha nuestras ofertas
          </h5>
        </div>
        <div class="row center">
            <a href="{% url 'listadoProductos' %}" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">
                Mis productos
            </a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="{% static 'coreWebPage/img/fondo1.jpg' %}" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Velocidad para comprar</h5>

          </div>
        </div>

        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">La mejor experiencia de tu vida</h5>
          </div>
        </div>

      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'coreWebPage/img/fondo1.jpg' %}" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contactanos</h4>
          <p class="left-align light" style="font-size:18px"><strong>Ubícanos en cualquiera de nuestras tiendas:</p><strong>
          <p class="left-align light"><strong><i>- Galería El Rey Stand 101 - Teléfono 7242451</p></i></strong>
          <p class="left-align light"><strong><i>- Galería Parque Cápena Stand 105 - Teléfono 7242452</p></i></strong>
        </div>
      </div>

    </div>
  </div>
{% endblock content %}