{% extends "core/base.html" %}

{% block content %}
    <br>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="{% url 'admin:distribucion_transporte_add' %}" class="btn btn-success"><span class="fa fa-plus-circle"></span>Agregar envío</a>
            <a href="{% url 'admin:distribucion_transporte_changelist' %}" class="btn btn-danger"><span class="fa fa-plus-circle"></span> Actualizar Datos</a>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Tienda</th>
                        <th>Diseño</th>
                        <th>Carro</th>
                        <th>Cantidad</th>
                        <th>Fecha de envío</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in transporte_list reversed %}
                    <tr>
                        <td>{{item.tienda}}</td>
                        <td>{{item.disenio}}</td>
                        <td>{{item.carro}}</td>
                        <td>{{item.cantidad}}</td>
                        <td>{{item.fecha|date:'d/m/Y H:i'}}</td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}  